.App {
  text-align: center;
  background-color: #975D41;
  /* background-image: url(./img/blank-day.png); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.MessagesContainer {
  background-image: url(./img/blank-day.png);
}

.p {
  overflow: hidden;
}


.navBar {

  width: 100%;
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

 ul {
  list-style: none;
}

.navBar a {
  text-decoration: none;
  color: white;
}

/* Mobile - less than 400px; */
/* @mobile: ~"(max-width: 500px)";
@pad: ~"(max-width: 800px)";
@padLarge: ~"(max-width: 1040px)"; */